In [2]:
from sklearn.cluster import KMeans
import pandas as pd

attributes = pd.read_csv('G:\Courses\EE381V RL\project\installment.csv')
attributes_for_clustering = attributes[['性别',
                                        '借款金额',
                                        '第几次借款',
                                        '借款期限',
                                        '借款年利率',
                                        '院校城市与居住城市收入差距',
                                        '婚姻状况',
                                        '子女',
                                        '月收入',
                                        '住房条件',
                                        '最高学历',
                                        '借款动机',
                                        ]]

In [3]:
cluster = KMeans(n_clusters=2, n_jobs=-1, random_state=0)
cluster.fit(attributes_for_clustering)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=-1, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [4]:
labels = cluster.labels_
centers = cluster.cluster_centers_

In [11]:
print('labels shape: ', labels.shape)
print('center of cluster1: ', centers[0], '\ncenter of cluster2: ', centers[1])

labels shape:  (94551,)
center of cluster1:  [7.59781786e-01 2.76030190e+03 1.13393020e+00 6.33141917e+00
 1.56987549e+01 4.61972321e+04 1.56612983e-04 1.27900603e-03
 1.34619300e+00 1.43956044e+00 3.47425022e+00 4.77019655e+00]
center of cluster2:  [ 7.45803698e-01  3.57864419e+03  1.11086415e+00  6.29658606e+00
  1.56137091e+01 -7.28188319e+03  2.43598862e-03  2.64935989e-03
  1.45229374e+00  1.48757112e+00  3.53888691e+00  4.84592817e+00]

In [12]:
attributes_new = attributes_for_clustering
attributes_new[['installment','user_id','loan_id']] = attributes[['第几笔还款','用户ID','款项ID']]
attributes_new['labels'] = labels
attributes_new = attributes_new.rename(columns={'性别': 'gender', 
                                               '借款金额': 'amount',
                                               '第几次借款': 'num_loan',
                                               '借款期限': 'duration',
                                               '借款年利率': 'year_ratio',
                                               '院校城市与居住城市收入差距': 'diff_city',
                                               '婚姻状况': 'marriage',
                                               '子女': 'kids',
                                               '月收入': 'month_in',
                                               '住房条件': 'housing',
                                               '最高学历': 'edu',
                                               '借款动机': 'motivation'})
attributes_new.head()

D:\python_spyder\exe\lib\site-packages\pandas\core\frame.py:2450: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
D:\python_spyder\exe\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,gender,amount,num_loan,duration,year_ratio,diff_city,marriage,kids,month_in,housing,edu,motivation,installment,user_id,loan_id,labels
0,1,3000,1,10,17,0.0,0,0,1,3,4,1,1,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1
1,1,3000,1,10,17,0.0,0,0,1,3,4,1,2,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1
2,1,3000,1,10,17,0.0,0,0,1,3,4,1,3,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1
3,1,3000,1,10,17,0.0,0,0,1,3,4,1,4,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1
4,1,3000,1,10,17,0.0,0,0,1,3,4,1,5,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1

In [13]:
trajectory = pd.read_csv('G://Courses/EE381V RL/project/trajectory.csv')
trajectory_new = trajectory.merge(attributes_new, how='left', on=['installment','user_id','loan_id'])
trajectory_new.head()

,user_id,loan_id,installment,action,reward,state_done,cumulative_overdue_early_difference,gender,amount,num_loan,duration,year_ratio,diff_city,marriage,kids,month_in,housing,edu,motivation,labels
0,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1,self,0.00,0,0,1,3000,1,10,17,0.0,0,0,1,3,4,1,1
1,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1,family,0.00,0,0,1,3000,1,10,17,0.0,0,0,1,3,4,1,1
2,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,1,acquiantance,384.75,1,0,1,3000,1,10,17,0.0,0,0,1,3,4,1,1
3,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,2,self,0.00,0,25,1,3000,1,10,17,0.0,0,0,1,3,4,1,1
4,ZNGTWOZEWYhAUJmXfcNNcg==,//ezGb0ezIJn3YAzDOP4Rg==,2,family,0.00,0,25,1,3000,1,10,17,0.0,0,0,1,3,4,1,1